*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.retry
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
perform/docker
docker/data
roles
server/serviceAccount.json
serviceAccount.json
.yarnclean
.env**
.vault_password
.vscode/**
notes.txt
/cloudbuild-service-account.json
